*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/caches/build_file_checksums.ser
.idea/assetWizardSettings.xml
/wepod
gradlew*
gradle
app/build
app/release
app/debug
record-view/build
error.log
samples/http-client.private.env.json
